body{
  background-size: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 80%;
}

  .vl {
    border-left: 1px solid rgb(193, 194, 193);
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 30%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .example-container2 {
    font-size: 16px;
    padding-left: 40px;
    margin: 0;
  }
  
  .example-container2 > * {
    padding-right: 20px;
    width: 90%;
  }

  p {
    font-size: 14px;
    font-weight: bold;
  }

  .mat-form-field-empty.mat-form-field-label {
    color:#020024;
    background-color: red;
    position: absolute;
    width: 100%;
  }