

h2 {
    background-color: #12afb5;
    color: rgb(58, 57, 57);
   
    width: 100%;
    
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  body{
    background-size: 0;
  }

  .services-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .example-container {
      color: black;
      background-color: white;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    
    
  
    .vl {
      border-left: 1px solid rgb(193, 194, 193);
      height: 400px;
      position: absolute;
      left: 50%;
      margin-left: -3px;
      top: 30%;
      padding-right: 30px;
      padding-left: 30px;
    }
  
    .example-container2 {
      
      padding-left: 40px;
      margin: 0;
    }
    
    .example-container2 > * {
      padding-right: 20px;
      width: 90%;
    }
  
    p {
      
      font-weight: bold;
    }

    li {
        list-style: none;
        cursor: pointer;
        padding-bottom: 25px;
    }

    .button {
      padding: 10px;
      margin: 10px;
    }

    .select-service {
      padding: 10px;
      margin: 10px;
    }

    .review-service {
      padding: 10px;
      margin: 10px;
    }