

.button {
        font-size: 16px;
        position: relative;
        left: 200px;
        bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
}

.example-container {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 40px;
    margin: 0 auto;
  }
  
  .example-container > * {
    padding-right: 20px;
    width: 90%;
  }
  