.formGroup {
    background-color: white;
    margin: 0 auto;
}

.mat-submit {
    background-color: rgb(68, 170, 68);
    color: #fff;
}

.mat-cancel {
    background-color: rgb(68, 170, 68);
    color: #fff; 
}

.button {
        font-size: 16px;
        position: relative;
        left: 200px;
        bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
}

.securityQuestions {
    background-color: white;
    color: black;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

