h1 {
    background-color: #12afb5;
    color: rgb(58, 57, 57);
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    object-fit: fill;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.meetBob {
    text-align: center;
}

.container {
    text-align: center;
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
    position: initial;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.formGroup2 {
    color: black;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    position: initial;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

h3 {
    background-color: rgb(24, 23, 23);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    margin: 0 auto;
    width: 90%;
    position: initial;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-radius: 5px;
}

.icons {
    font-size: 30px;
}