/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
.formGroup {
    background-color: white;
    margin: 0 auto;
    width: 60%;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mat-form-field-empty.mat-form-field-label {
    color:rgb(82, 54, 238);
    position: absolute;
    width: 100%;
}

.mat-form-field-underline {
    background-color: green;
    color:blue;
    position: absolute;
    width: 100%;
}

a {
    color: green;
}

body{
    background-image: url('./assets/bcrs_image.jpg');
    background-size: cover;
    background-repeat: none;
}

.button1 {
    color: green;
    font-size: 16px;
    
}

.button2 {
    color: rgb(226, 225, 225);
    background-color: green;
    font-size: 16px;
}

h2 {
    background-color: rgb(26, 25, 25);
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.register {
 position: absolute;
 right: 200px;
 width: 300px;
}


