/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'BenchNine', sans-serif;
    font-size: 25px;
}
.formGroup {
    color: black;
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mat-form-field-underline {
    background-color: #177378;
    position: absolute;
    width: 100%;
}

a {
    color: #1d16a0;
}

a:hover {
    color: red;

}

body{
    background-image: url('./assets/bcrs_image2.jpg');
    background-size: cover;
    background-repeat: none;
}

.button1 {
    color: #1d3236;
    font-size: 16px;
    border: 2px solid #e7e7e7;
    
}

.button2 {
    color: white;
    background-color: teal;
    font-size: 16px;
    border: 2px solid #e7e7e7;
}

.button3 {
    color: white;
    background-color: #12afb5;
    font-size: 16px;
    border: 2px solid #e7e7e7;
}

h2 {
    background-color: #12afb5;
    color: rgb(58, 57, 57);
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


